.render-option {
  height: 44px;
  color: $text-primary;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  .option-image {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    overflow: hidden;
    border-radius: 99999px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &.active {
    background-color: $bg-active;
    .active-icon {
      display: block;
    }
  }
}
